.toolbar {
  box-shadow: var(--shadow);
}

.spacer {
  flex: 10;
}

.toolbar_ico {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  color: var(--color-white) !important;
}

.toolbar_ico:hover,
.toolbar_ico:active {
  color: var(--color-primary) !important;
  transform: scale(1.1);
  font-weight: bold !important;
}

@media screen and (max-width: 1200px) {
  .toolbar_ico {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
    transition: var(--transition);
  }

  .toolbar_ico:hover,
  .toolbar_ico:active {
    padding: 0.5rem;
    color: var(--color-primary);
    transform: scale(1.05);
  }
}

@media screen and (max-width: 768px) {
  .toolbar_ico {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
    transition: var(--transition);
  }

  .toolbar_ico:hover,
  .toolbar_ico:active {
    padding: 0.5rem;
    color: var(--color-primary);
    transform: scale(1.05);
  }
}
