* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6); */

  --shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Cairo", sans-serif;
  line-height: 1.7;
  height: 100%;
}

.app {
  height: 100%;
}
